.driverPageContainer {
    background-color: gainsboro;
}

.driverPageContainer .textBoxTableContainer {
    width: 100%
}

.driverPageContainer .SingleTextBoxContainer {
    width: 75%;
    margin-left: 12.5%;
}

.driverPageContainer .buttonWithLabelsListContainer .ButtonWithLabels {
    background-color: white;
}

.driverPageContainer .buttonWithLabelsListContainer .ButtonWithLabels td{
    text-align: center;
    height: min-content;
}

.driverPageContainer .buttonWithLabelsListContainer .ButtonWithLabels td:first-of-type{
    width: 37.5%;
}

.driverPageContainer .buttonWithLabelsListContainer .ButtonWithLabels td:nth-child(2){
    width: 37.5%;
}

.driverPageContainer .buttonWithLabelsListContainer .ButtonWithLabels td:last-of-type{
    background-color: goldenrod;
}

.driverPageContainer .buttonWithLabelsListContainer .ButtonWithLabels .ButtonWithLabelsButtonContainer {
    padding: 0;
    width: 10%;
    vertical-align: middle;

}

.driverPageContainer .buttonWithLabelsListContainer .ButtonWithLabels .ButtonWithLabelsButtonContainer button{
    width: 100%;
    height: 100%;
    background-color: goldenrod;
    border-color: goldenrod;
}

.driverPageContainer .SingleButtonContainer {
    text-align: center;
}

.driverPageContainer .SingleButtonContainer button{
    background-color: black;
    border-color: black;
    color: white;
    margin-top: 1em;
}

.driverPageContainer .DriverPageJobListContainer {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 1em;
}

.driverPageContainer .DriverPageJobListContainer {
    text-align: center;
}

.driverPageContainer .DriverPageJobListContainer .ListHeadings {
    width: 100%;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: large;
}

.driverPageContainer .DriverPageJobListContainer .ListHeadings td {
    margin: auto;
}

.driverPageContainer .DriverPageJobListContainer .ListHeadings td:first-of-type{
    width: 37.5%;
}

.driverPageContainer .DriverPageJobListContainer .ListHeadings td:nth-child(2){
    width: 37.5%;
}

