.RideProgressPageHeader {
    text-align: center;
}

.RideProgressPage .jumbotron {
    background-color: black;
    text-shadow: -1px -1px 0 goldenrod, 1px -1px 0 goldenrod, -1px 1px 0 goldenrod, 1px 1px 0 goldenrod;
    color: black;
}

.RideProgressPage .RideDetails {
    text-align: center;
}

.RideProgressPage .RideDetails .Details .DetailContainer {
    padding: 5%;
}

.RideProgressPage .RideDetails .Details .DetailContainer .DetailLabel {
    font-weight: 700;
    font-size: large;
    width: 100%;
}

.RideProgressPage .spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.RideProgressPage .rideProgressPageCenter {
    text-align: center;
}

.RideProgressPage .rideProgressPageCenter button {
    color: white;
    background-color: goldenrod;
    border-color: goldenrod;
}

.RideProgressPage .rideProgressPageCenter .driverArrived  button {
    color: black;
    background-color: red;
    border-color: red;
}